{
  "openapi": "3.0.0",
  "info": {
    "title": "divit-api",
    "version": "1.0",
    "description": "APIs of Divit Pay-later service for merchant",
    "contact": {
      "name": "Support",
      "email": "support@divit.com.hk"
    }
  },
  "servers": [
    {
      "description": "Sandbox",
      "url": "https://sandbox-api.divit.dev"
    },
    {
      "url": "https://api.divit.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/orders": {
      "post": {
        "summary": "NewOrder",
        "operationId": "post-orders",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "redirect-uri": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "orderid",
                    "redirect-uri"
                  ]
                },
                "examples": {
                  "Success": {
                    "value": {
                      "orderid": "b1e138b1-f84c-4d3e-b4fb-8c3b7e6fc10f",
                      "redirect-uri": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Create order on Divit",
        "security": [
          {
            "JWT": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "x-examples": {
                  "example-1": {
                    "totalAmount": {
                      "amount": 400253,
                      "currency": "HKD"
                    },
                    "nonrefundableAmount": {
                      "amount": 300253,
                      "currency": "HKD"
                    },
                    "refundableAmount": {
                      "amount": 100000,
                      "currency": "HKD"
                    },
                    "webhook_success": "http://sucess.com",
                    "webhook_failure": "http://failure.com",
                    "webhook_events": "http://events.coms",
                    "partnerRef": "INTERNAL-REF-12121",
                    "OrderItems": [
                      {
                        "OrderType": "flight",
                        "OrderData": {
                          "departure": {
                            "iataCode": "MAD",
                            "terminal": "2",
                            "at": "2021-05-12T20:25:00"
                          },
                          "arrival": {
                            "iataCode": "AMS",
                            "at": "2021-05-12T23:00:00"
                          },
                          "carrierCode": "KL",
                          "number": "1706",
                          "aircraft": {
                            "code": "73J"
                          },
                          "operating": {
                            "carrierCode": "KL"
                          },
                          "duration": "PT2H35M",
                          "id": "81",
                          "numberOfStops": 0
                        }
                      },
                      {
                        "OrderType": "flight",
                        "OrderData": {
                          "departure": {
                            "iataCode": "MAD",
                            "terminal": "2",
                            "at": "2021-05-12T20:25:00"
                          },
                          "arrival": {
                            "iataCode": "AMS",
                            "at": "2021-05-12T23:00:00"
                          },
                          "carrierCode": "KL",
                          "number": "1706",
                          "aircraft": {
                            "code": "73J"
                          },
                          "operating": {
                            "carrierCode": "KL"
                          },
                          "duration": "PT2H35M",
                          "id": "81",
                          "numberOfStops": 0
                        }
                      }
                    ]
                  }
                },
                "properties": {
                  "totalAmount": {
                    "type": "object",
                    "required": [
                      "amount",
                      "currency"
                    ],
                    "properties": {
                      "amount": {
                        "type": "number"
                      },
                      "currency": {
                        "type": "string",
                        "minLength": 1
                      }
                    }
                  },
                  "nonrefundableAmount": {
                    "type": "object",
                    "required": [
                      "amount",
                      "currency"
                    ],
                    "properties": {
                      "amount": {
                        "type": "number"
                      },
                      "currency": {
                        "type": "string",
                        "minLength": 1
                      }
                    }
                  },
                  "refundableAmount": {
                    "type": "object",
                    "required": [
                      "amount",
                      "currency"
                    ],
                    "properties": {
                      "amount": {
                        "type": "number"
                      },
                      "currency": {
                        "type": "string",
                        "minLength": 1
                      }
                    }
                  },
                  "webhook_success": {
                    "type": "string",
                    "minLength": 1
                  },
                  "webhook_failure": {
                    "type": "string",
                    "minLength": 1
                  },
                  "webhook_events": {
                    "type": "string",
                    "minLength": 1
                  },
                  "partnerRef": {
                    "type": "string",
                    "minLength": 1
                  },
                  "OrderItems": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "properties": {
                        "OrderType": {
                          "type": "string",
                          "minLength": 1
                        },
                        "OrderData": {
                          "oneOf": [
                            {
                              "properties": {
                                "departure": {
                                  "type": "object",
                                  "required": [
                                    "iataCode",
                                    "terminal",
                                    "at"
                                  ],
                                  "properties": {
                                    "iataCode": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "terminal": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "at": {
                                      "type": "string",
                                      "minLength": 1
                                    }
                                  }
                                },
                                "arrival": {
                                  "type": "object",
                                  "required": [
                                    "iataCode",
                                    "at"
                                  ],
                                  "properties": {
                                    "iataCode": {
                                      "type": "string",
                                      "minLength": 1
                                    },
                                    "at": {
                                      "type": "string",
                                      "minLength": 1
                                    }
                                  }
                                },
                                "carrierCode": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "number": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "aircraft": {
                                  "type": "object",
                                  "required": [
                                    "code"
                                  ],
                                  "properties": {
                                    "code": {
                                      "type": "string",
                                      "minLength": 1
                                    }
                                  }
                                },
                                "operating": {
                                  "type": "object",
                                  "required": [
                                    "carrierCode"
                                  ],
                                  "properties": {
                                    "carrierCode": {
                                      "type": "string",
                                      "minLength": 1
                                    }
                                  }
                                },
                                "duration": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "id": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "numberOfStops": {
                                  "type": "number"
                                },
                                "": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "departure",
                                "arrival",
                                "carrierCode",
                                "number",
                                "aircraft",
                                "operating",
                                "duration",
                                "id",
                                "numberOfStops"
                              ]
                            },
                            {
                              "properties": {
                                "productID": {
                                  "type": "string"
                                },
                                "productTitle": {
                                  "type": "string"
                                },
                                "qty": {
                                  "type": "string"
                                },
                                "": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "productID",
                                "productTitle",
                                "qty"
                              ]
                            }
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "OrderType"
                      ]
                    }
                  }
                },
                "required": [
                  "totalAmount",
                  "nonrefundableAmount",
                  "refundableAmount",
                  "webhook_success",
                  "webhook_failure",
                  "webhook_events",
                  "partnerRef",
                  "OrderItems"
                ]
              },
              "examples": {
                "Airline": {
                  "value": {
                    "totalAmount": {
                      "amount": 400253,
                      "currency": "HKD"
                    },
                    "nonrefundableAmount": {
                      "amount": 300253,
                      "currency": "HKD"
                    },
                    "refundableAmount": {
                      "amount": 100000,
                      "currency": "HKD"
                    },
                    "webhook_success": "http://sucess.com",
                    "webhook_failure": "http://failure.com",
                    "webhook_events": "http://events.coms",
                    "partnerRef": "INTERNAL-REF-12121",
                    "OrderItems": [
                      {
                        "OrderType": "flight",
                        "OrderData": {
                          "departure": {
                            "iataCode": "MAD",
                            "terminal": "2",
                            "at": "2021-05-12T20:25:00"
                          },
                          "arrival": {
                            "iataCode": "AMS",
                            "at": "2021-05-12T23:00:00"
                          },
                          "carrierCode": "KL",
                          "number": "1706",
                          "aircraft": {
                            "code": "73J"
                          },
                          "operating": {
                            "carrierCode": "KL"
                          },
                          "duration": "PT2H35M",
                          "id": "81",
                          "numberOfStops": 0
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "OrderInput object"
        },
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://sandbox-api.divit.dev/orders',\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {\n    totalAmount: {amount: 0, currency: 'string'},\n    nonrefundableAmount: {amount: 0, currency: 'string'},\n    refundableAmount: {amount: 0, currency: 'string'},\n    webhook_success: 'string',\n    webhook_failure: 'string',\n    webhook_events: 'string',\n    partnerRef: 'string',\n    OrderItems: [\n      {\n        OrderType: 'string',\n        OrderData: {\n          departure: {iataCode: 'string', terminal: 'string', at: 'string'},\n          arrival: {iataCode: 'string', at: 'string'},\n          carrierCode: 'string',\n          number: 'string',\n          aircraft: {code: 'string'},\n          operating: {carrierCode: 'string'},\n          duration: 'string',\n          id: 'string',\n          numberOfStops: 0,\n          '': 'string'\n        }\n      }\n    ]\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://sandbox-api.divit.dev/orders \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"totalAmount\":{\"amount\":0,\"currency\":\"string\"},\"nonrefundableAmount\":{\"amount\":0,\"currency\":\"string\"},\"refundableAmount\":{\"amount\":0,\"currency\":\"string\"},\"webhook_success\":\"string\",\"webhook_failure\":\"string\",\"webhook_events\":\"string\",\"partnerRef\":\"string\",\"OrderItems\":[{\"OrderType\":\"string\",\"OrderData\":{\"departure\":{\"iataCode\":\"string\",\"terminal\":\"string\",\"at\":\"string\"},\"arrival\":{\"iataCode\":\"string\",\"at\":\"string\"},\"carrierCode\":\"string\",\"number\":\"string\",\"aircraft\":{\"code\":\"string\"},\"operating\":{\"carrierCode\":\"string\"},\"duration\":\"string\",\"id\":\"string\",\"numberOfStops\":0,\"\":\"string\"}}]}'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '{\"totalAmount\":{\"amount\":0,\"currency\":\"string\"},\"nonrefundableAmount\":{\"amount\":0,\"currency\":\"string\"},\"refundableAmount\":{\"amount\":0,\"currency\":\"string\"},\"webhook_success\":\"string\",\"webhook_failure\":\"string\",\"webhook_events\":\"string\",\"partnerRef\":\"string\",\"OrderItems\":[{\"OrderType\":\"string\",\"OrderData\":{\"departure\":{\"iataCode\":\"string\",\"terminal\":\"string\",\"at\":\"string\"},\"arrival\":{\"iataCode\":\"string\",\"at\":\"string\"},\"carrierCode\":\"string\",\"number\":\"string\",\"aircraft\":{\"code\":\"string\"},\"operating\":{\"carrierCode\":\"string\"},\"duration\":\"string\",\"id\":\"string\",\"numberOfStops\":0,\"\":\"string\"}}]}' |  \\\n  http POST https://sandbox-api.divit.dev/orders \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN' \\\n  content-type:application/json"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-api.divit.dev\")\n\npayload = \"{\\\"totalAmount\\\":{\\\"amount\\\":0,\\\"currency\\\":\\\"string\\\"},\\\"nonrefundableAmount\\\":{\\\"amount\\\":0,\\\"currency\\\":\\\"string\\\"},\\\"refundableAmount\\\":{\\\"amount\\\":0,\\\"currency\\\":\\\"string\\\"},\\\"webhook_success\\\":\\\"string\\\",\\\"webhook_failure\\\":\\\"string\\\",\\\"webhook_events\\\":\\\"string\\\",\\\"partnerRef\\\":\\\"string\\\",\\\"OrderItems\\\":[{\\\"OrderType\\\":\\\"string\\\",\\\"OrderData\\\":{\\\"departure\\\":{\\\"iataCode\\\":\\\"string\\\",\\\"terminal\\\":\\\"string\\\",\\\"at\\\":\\\"string\\\"},\\\"arrival\\\":{\\\"iataCode\\\":\\\"string\\\",\\\"at\\\":\\\"string\\\"},\\\"carrierCode\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"aircraft\\\":{\\\"code\\\":\\\"string\\\"},\\\"operating\\\":{\\\"carrierCode\\\":\\\"string\\\"},\\\"duration\\\":\\\"string\\\",\\\"id\\\":\\\"string\\\",\\\"numberOfStops\\\":0,\\\"\\\":\\\"string\\\"}}]}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"POST\", \"/orders\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-api.divit.dev/orders\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"totalAmount\\\":{\\\"amount\\\":0,\\\"currency\\\":\\\"string\\\"},\\\"nonrefundableAmount\\\":{\\\"amount\\\":0,\\\"currency\\\":\\\"string\\\"},\\\"refundableAmount\\\":{\\\"amount\\\":0,\\\"currency\\\":\\\"string\\\"},\\\"webhook_success\\\":\\\"string\\\",\\\"webhook_failure\\\":\\\"string\\\",\\\"webhook_events\\\":\\\"string\\\",\\\"partnerRef\\\":\\\"string\\\",\\\"OrderItems\\\":[{\\\"OrderType\\\":\\\"string\\\",\\\"OrderData\\\":{\\\"departure\\\":{\\\"iataCode\\\":\\\"string\\\",\\\"terminal\\\":\\\"string\\\",\\\"at\\\":\\\"string\\\"},\\\"arrival\\\":{\\\"iataCode\\\":\\\"string\\\",\\\"at\\\":\\\"string\\\"},\\\"carrierCode\\\":\\\"string\\\",\\\"number\\\":\\\"string\\\",\\\"aircraft\\\":{\\\"code\\\":\\\"string\\\"},\\\"operating\\\":{\\\"carrierCode\\\":\\\"string\\\"},\\\"duration\\\":\\\"string\\\",\\\"id\\\":\\\"string\\\",\\\"numberOfStops\\\":0,\\\"\\\":\\\"string\\\"}}]}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php + Http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://sandbox-api.divit.dev/orders');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\n$request->setBody('{\"totalAmount\":{\"amount\":0,\"currency\":\"string\"},\"nonrefundableAmount\":{\"amount\":0,\"currency\":\"string\"},\"refundableAmount\":{\"amount\":0,\"currency\":\"string\"},\"webhook_success\":\"string\",\"webhook_failure\":\"string\",\"webhook_events\":\"string\",\"partnerRef\":\"string\",\"OrderItems\":[{\"OrderType\":\"string\",\"OrderData\":{\"departure\":{\"iataCode\":\"string\",\"terminal\":\"string\",\"at\":\"string\"},\"arrival\":{\"iataCode\":\"string\",\"at\":\"string\"},\"carrierCode\":\"string\",\"number\":\"string\",\"aircraft\":{\"code\":\"string\"},\"operating\":{\"carrierCode\":\"string\"},\"duration\":\"string\",\"id\":\"string\",\"numberOfStops\":0,\"\":\"string\"}}]}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"totalAmount\":{\"amount\":0,\"currency\":\"string\"},\"nonrefundableAmount\":{\"amount\":0,\"currency\":\"string\"},\"refundableAmount\":{\"amount\":0,\"currency\":\"string\"},\"webhook_success\":\"string\",\"webhook_failure\":\"string\",\"webhook_events\":\"string\",\"partnerRef\":\"string\",\"OrderItems\":[{\"OrderType\":\"string\",\"OrderData\":{\"departure\":{\"iataCode\":\"string\",\"terminal\":\"string\",\"at\":\"string\"},\"arrival\":{\"iataCode\":\"string\",\"at\":\"string\"},\"carrierCode\":\"string\",\"number\":\"string\",\"aircraft\":{\"code\":\"string\"},\"operating\":{\"carrierCode\":\"string\"},\"duration\":\"string\",\"id\":\"string\",\"numberOfStops\":0,\"\":\"string\"}}]}');\n\n$request->setRequestUrl('https://sandbox-api.divit.dev/orders');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          }
        ],
        "tags": [
          "PayNow",
          "PayLater"
        ]
      }
    },
    "/login": {
      "post": {
        "summary": "Authentication",
        "operationId": "post-login",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Success": {
                    "value": {
                      "code": 200,
                      "expire": "2021-12-31T03:57:42Z",
                      "token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2NDA5MjMwNjIsIm9yaWdfaWF0IjoxNjQwOTIyMTYyLCJwaWQiOiI1OGI2YWZmYy0yOGJlLTQwNTktYmNmNy1mYWI2MDE4NTgxMjIiLCJzY29wZSI6InBhcnRuZXJhZG1pbiIsInN1YiI6ImViMjcwYWU4LTk5MjgtNDIyMS1iNWJhLTM4YjVmYWVjYjQxMiJ9.AVmgE0K6lmStphqRoemCnD24R7N2OhPQQx7l4P4hQofQXAsq_io2d9czaUfFzz5JNEld_b8bhJP_eW9MK9ccQbGKuw5Tj8gaUOx4w3VBhMP37IbbF-3lWTdmreHkvjEkrTBoF7z82F5c0ppTWuQ0TpwLNJDNMd3T_zK7y3oH7eTKeP0pt6BP0xMk4Q_cAHf9znQpxOXeMweXRNw1sXDAx0ZfMOUJ4mgBv59cjvFLEU3UOzGOtZnAnw6W-Mx__FKC8IkSk6bhDlyD8g6V6g5H6BgyZWB72ZkBSvxE4TKLOZwZwXia77gnfv5ruIzlqb_v83IZ12N7sPTZrw5qEGe01g"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "x-examples": {
                    "example-1": {
                      "code": 2002,
                      "message": "incorrect Username or Password"
                    }
                  }
                },
                "examples": {
                  "Bad credentials": {
                    "value": {
                      "code": 2002,
                      "message": "incorrect Username or Password"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Authentication of user credentials. Credentials for API access is given out by Divit representatives.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret"
                ]
              },
              "examples": {
                "Credentials": {
                  "value": {
                    "client_id": "api-admin@merchant.com",
                    "client_secret": "Secret_password"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "PayLater",
          "PayNow",
          "Miles"
        ],
        "parameters": [],
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://sandbox-api.divit.dev/login',\n  headers: {\n    'content-type': 'application/json',\n    Authorization: 'Bearer REPLACE_BEARER_TOKEN'\n  },\n  body: {client_id: 'string', client_secret: 'string'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://sandbox-api.divit.dev/login \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'content-type: application/json' \\\n  --data '{\"client_id\":\"string\",\"client_secret\":\"string\"}'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '{\"client_id\":\"string\",\"client_secret\":\"string\"}' |  \\\n  http POST https://sandbox-api.divit.dev/login \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN' \\\n  content-type:application/json"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"sandbox-api.divit.dev\")\n\npayload = \"{\\\"client_id\\\":\\\"string\\\",\\\"client_secret\\\":\\\"string\\\"}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Bearer REPLACE_BEARER_TOKEN\"\n    }\n\nconn.request(\"POST\", \"/login\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Php + Curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://sandbox-api.divit.dev/login\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"client_id\\\":\\\"string\\\",\\\"client_secret\\\":\\\"string\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Bearer REPLACE_BEARER_TOKEN\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php + Http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://sandbox-api.divit.dev/login');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\n$request->setBody('{\"client_id\":\"string\",\"client_secret\":\"string\"}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php + Http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"client_id\":\"string\",\"client_secret\":\"string\"}');\n\n$request->setRequestUrl('https://sandbox-api.divit.dev/login');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders([\n  'content-type' => 'application/json',\n  'Authorization' => 'Bearer REPLACE_BEARER_TOKEN'\n]);\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "money": {
        "title": "money",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ]
      }
    },
    "securitySchemes": {
      "JWT": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "JWT": []
    }
  ]
}